/* You can add global styles to this file, and also import other style files */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.badge-primary {
  color: #fff;
  background-color: #3276BE;
}


.gallery{
  overflow: visible;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: none;
  overflow: visible;
  opacity: 1;


}


.img-gallery{



  display: block;
  top: 0px;
  left: 0px;
  width: 254px;
  /* height: 254px; */
  background: rgba(34,34,34,.75);
  padding: 0;
  margin: 3px;
  -webkit-box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: #000;
  /* box-sizing: border-box; */
  -webkit-box-sizing: border-box;


}

.label-gallery{
  color: #fff;
  /*margin: 3px 1px 1px;*/
  /*padding: 0 4px;*/
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  Text-Shadow: #000 1px 0 0,#000 1px 1px 0,#000 1px -1px 0,#000 -1px 1px 0,#000 -1px 0 0,#000 -1px -1px 0,#000 0 1px 0,#000 0 -1px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  bottom: 0;
  position: absolute;
  text-align: center;
  background: rgba(34,34,34,.75);
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
}

.pointer{
  cursor: pointer;
}
